﻿@model System.Collections.Generic.List<MvcMusicStoreSPA.Models.Artist>

@{
	ViewBag.Title = "title";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Hello</p>

@foreach (var artist in Model)
{
	<p>@artist.Name</p>
}